{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["import", {
            libraryName: "antd",
            libraryDirectory: "es",
            style: true, // 自动打包相关的样式
        }]
    ]
}